<h2>Saved Profiles</h2>
<mat-icon matRipple (click)="ngOnInit()">
    <div class="refresh"> refresh</div>
</mat-icon>

<p class="saved">
    {{ error }}
</p>

<mat-spinner [diameter]="50" *ngIf="fetchingProfiles">
</mat-spinner>
<br>

<ul>
    <li *ngFor="let profile of profiles" id="buttons">
        <mat-card class="profile-card">
            <!-- <img mat-card-avatar [src]="profile.iconPath">  -->
            <mat-card-title>{{ profile.displayName }}</mat-card-title> <!-- <img mat-card-avatar [src]="profile.iconPath"> -->
            <mat-card-actions>
                <button mat-button class="delete" (click)="openDeleteDialog(profile)">Delete</button>
                <button mat-button (click)="setProfile(profile)">View</button>
            </mat-card-actions>
            <!-- <mat-icon matRipple (click)="openDeleteDialog(profile)">
                    <div class="delete">close</div>
                </mat-icon> -->
        </mat-card>
    </li>
</ul>