/* .profile-card {
    cursor: pointer;
    max-width: 200px;
    margin: 1px 0 1px 0;
} */

.profiles-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
}

.profile-name {
    margin: 0 2em 0 0;
}

.profile-name mat-card-subtitle {
    margin: 0 0 0 0;
}

.profile-icon {
    max-width: 5%;
}

mat-icon, .delete {
    color: red;
    padding: 4px;
}

mat-icon, .refresh {
    color: white;
    align-items: center;
}

mat-spinner {
    margin: auto;
    margin-top: 32px;
}

.saved {
    color: green;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}