<div class="stat-container">

    <div class="in-progress" *ngIf="fetchingStats" [@inOutAnimation]>
        <mat-spinner [diameter]="50">
        </mat-spinner>
        Fetching stats...
    </div>

    <div *ngIf="profile != undefined && fetchingStats == false">

        <!-- <button mat-raised-button [disabled]="profile.mergedStats == undefined" (click)="addProfile(profile)">
            Save
        </button> -->

        <div class="row">
            <div class="column left">
                <div class="padding">
                    <h2>Filters</h2>
                    <mat-chip-list>
                        <mat-chip (click)="displayedStats=getMode('Merged')" color="accent"
                            [selected]="currentMode == 'Merged'">PvE + PvP</mat-chip>
                        <mat-chip (click)="displayedStats=getMode('PvE')" color="accent"
                            [selected]="currentMode == 'PvE'">
                            PvE</mat-chip>
                        <mat-chip (click)="displayedStats=getMode('PvP')" color="accent"
                            [selected]="currentMode == 'PvP'">
                            PvP</mat-chip>
                    </mat-chip-list>
                </div>
                <app-characters [characters]="profile.characters" [currentId]="currentId"
                    (newCharacterIdEvent)="updateStats($event)">
                </app-characters>
            </div>

            <div class="column right">
                <div class="stats-header">
                    <h1> {{ profile.displayName }}<strong>#{{ profile.bungieGlobalDisplayNameCode }}</strong> <img class="profile-icon" [src]="profile.iconPath"></h1>

                    <mat-card-subtitle> Last Updated: {{ profile.dateCreated | date : 'short'}}
                    </mat-card-subtitle>
                </div>

                <div *ngIf="checkEmptyObject(displayedStats) == true" [@inOutAnimation]>
                    <br>
                    <br>
                    No {{ currentMode }} stats were found
                </div>

                <div class="stat-section" *ngIf="checkEmptyObject(displayedStats) == false" [@inOutAnimation]>
                    <app-stat-section *ngFor="let section of sections | keyvalue: helper.numberedKeyOrder"
                        [section]="section.value" [sectionName]="section.key" [displayedStats]="displayedStats"
                        [newDisplayedStatsEvent]="newDisplayedStatsEvent">
                    </app-stat-section>
                </div>
            </div>
        </div>
    </div>
</div>