mat-spinner {
    margin: auto;
    margin-top: 32px;
}

.row {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.column {
    flex: 50%;
}

.left {
    flex: 15%;
}

.right {
    flex: 85%;
}

.stat-card {
    /* max-width: 275px; */
    min-height: 200px;
    align-self: start;
    margin: 10px 10px 10px 10px;
}