<div *ngIf="profile != undefined">

    <h2> {{ profile.displayName }} <img class="profile-icon" [src]="profile.iconPath"></h2>

    <mat-card-subtitle> as of {{ profile.dateCreated | date : 'short'}} </mat-card-subtitle>

    <button mat-raised-button [disabled]="profile.mergedStats == undefined" (click)="addProfile(profile)">
        Save Stats
    </button>

    <div class="row">
        <div class="column left">
            <h3> Characters </h3>
            <mat-spinner [diameter]="50" *ngIf="fetchingStats">
            </mat-spinner>
            <app-characters *ngIf="fetchingStats == false" [characters]="profile.characters" [currentId]="currentId"
                (newCharacterIdEvent)="updateStats($event)">
            </app-characters>
        </div>

        <div class="column right">
            <h3> Stats </h3>

            <mat-button-toggle-group *ngIf="fetchingStats == false" [(ngModel)]="currentMode"
                (change)="displayedStats=getMode(currentMode)">
                <mat-button-toggle value="Merged">All</mat-button-toggle>
                <mat-button-toggle value="PvE">PvE</mat-button-toggle>
                <mat-button-toggle value="PvP">PvP</mat-button-toggle>
            </mat-button-toggle-group>

            <mat-spinner [diameter]="50" *ngIf="fetchingStats">
            </mat-spinner>

            <div *ngIf="fetchingStats == false && 
                    checkEmptyObject(displayedStats)">
                <br>
                <br>
                No {{ currentMode }} stats were found
            </div>

            <app-stat-section *ngFor="let section of sections | keyvalue" [section]="section.value"
                [sectionName]="section.key" [displayedStats]="displayedStats"
                [newDisplayedStatsEvent]="newDisplayedStatsEvent">
            </app-stat-section>

            <!-- <mat-grid-list cols="6">
                <mat-grid-tile *ngFor="let stat of displayedStats | keyvalue">
                    <mat-grid-tile-header>
                        {{ stat.key | camelConverter }}
                    </mat-grid-tile-header>
                    {{ stat.value | destinyStat }}
                </mat-grid-tile>
            </mat-grid-list> -->

            <!-- <mat-card class="stat-card">
                <mat-card-title align="left">
                    <b>General</b>
                </mat-card-title>
                <mat-grid-list *ngIf="fetchingStats == false && 
            checkEmptyObject(displayedStats) == false" cols="6">
                    <mat-grid-tile>
                        <mat-grid-tile-header>
                            KD Ratio
                        </mat-grid-tile-header>
                        {{ displayedStats.killsDeathsRatio.basic.displayValue | number }}
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-grid-tile-header>
                            Kills
                        </mat-grid-tile-header>
                        {{ displayedStats.kills.basic.displayValue | number }}
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-grid-tile-header>
                            Deaths
                        </mat-grid-tile-header>
                        {{ displayedStats.deaths.basic.displayValue | number }}
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-grid-tile-header>
                            Time Played
                        </mat-grid-tile-header>
                        {{ displayedStats.secondsPlayed.basic.value | timePlayed | number }} hours
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card> -->

            <!-- <mat-card class="stat-card">
                <mat-card-title align="left">
                    <b>General</b>
                </mat-card-title>
                <app-stat [displayedStats]="displayedStats"></app-stat>
            </mat-card> -->

            <!-- TODO: Show stats in sections

            For example, section 1 could include:
            secondsPlayed
            killsDeathsRatio
            kills
            deaths
            suicides
            activitiesCleared (PvE only, AKA activities)
            activitesEntered (AKA matches) 
            weaponKillsSuper
            weaponKillsGrenade
            weaponKillsMelee
            publicEventsCompleted
            
            -->
        </div>
    </div>
</div>