<!-- <div class="content mat-app-background darkMode" autosize>
    <app-toolbar></app-toolbar>

    <div class="main-content">
        <router-outlet></router-outlet>
    </div>    
</div> -->

<div class="content mat-app-background darkMode" autosize>
    <mat-toolbar>
        <div fxShow="true" fxHide.gt-sm="true">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>

        <span class="toolbar-spacer"></span>
        <div class="toolbar-header">
            <a routerLink="/">Arc Buddy</a>
        </div>
        <span class="toolbar-spacer-end"></span>
        <div fxShow="true" fxHide.lt-md="true" class="toolbar-links">
            <a routerLink="/search">Search Players</a>
            <a routerLink="/vendors">Vendors</a>
        </div>

    </mat-toolbar>
    <mat-sidenav-container fxFlexFill>
        <mat-sidenav #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
            <div fxLayout="column">
                <a routerLink="/"><mat-icon>home</mat-icon> Home</a>
                <a routerLink="/search"><mat-icon>search</mat-icon>Search Players</a>
                <a routerLink="/vendors"><mat-icon>sell</mat-icon> Vendors</a>
            </div>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>
            <div class="main-content">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>