<!-- <div class="content mat-app-background darkMode" autosize>
    <app-toolbar></app-toolbar>

    <div class="main-content">
        <router-outlet></router-outlet>
    </div>    
</div> -->

<div class="content mat-app-background darkMode" autosize>
    <mat-toolbar color="primary">
        <div fxShow="true" fxHide.gt-sm="true">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>

        <span class="toolbar-spacer"></span>
        <div class="toolbar-header">
            <a routerLink="/" (mouseover)="startAnimation()" (mouseleave)="stopAnimation()">
                <img src="https://www.bungie.net/common/destiny2_content/icons/DestinyDamageTypeDefinition_092d066688b879c807c3b460afdd61e6.png"
                    alt="Arc Buddy" [@move]="state"
                    (@move.done)="onEnd($event)">
                Arc Buddy
            </a>
        </div>
        <span class="toolbar-spacer-end"></span>
        <div fxShow="true" fxHide.lt-md="true" class="toolbar-links">
            <a routerLink="/search">Search Players</a>
            <a routerLink="/vendors">Vendors</a>
        </div>

    </mat-toolbar>
    <mat-sidenav-container fxFlexFill>
        <mat-sidenav #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
            <div fxLayout="column">
                <a routerLink="/">
                    <mat-icon>home</mat-icon> Home
                </a>
                <a routerLink="/search">
                    <mat-icon>search</mat-icon>Search Players
                </a>
                <a routerLink="/vendors">
                    <mat-icon>sell</mat-icon> Vendors
                </a>
            </div>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>
            <div class="main-content">
                <router-outlet></router-outlet>
            </div>
            <footer>
                <div class="footer-content">
                    <div class="footer-left">
                        <p>Developed by <a href="https://github.com/62firelight" target="_blank">62firelight</a></p>
                        <p>All images and content are property of Bungie.</p>
                    </div>
                    <div class="footer-right">
                        Links
                        <ul>
                            <li>
                                <i class="fa fa-github" style="font-size:24px"></i> 
                                <a href="https://github.com/62firelight/ArcBuddy-349" target="_blank">GitHub</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>