html, body, .darkMode {
    position: fixed;
    height: 100%;
    width: 100%;
    text-align: center;
}

button {
    background: none;
    border: none;
}

button:hover {
    cursor: pointer;
}

img {
    width: 35px;
    height: 35px;
    margin-right: 8px;
}

.stat-sidenav {
    padding: 20px;
    text-align: top;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    background: none;
    border: none;
    margin: 20px;
}

button:hover {
    cursor: pointer;
}

.search-button {
    width: 2px;
}

img {
    width: 35px;
    height: 35px;
    margin-right: 8px;
}

mat-icon {
    cursor: pointer;
}

mat-spinner {
    margin: auto;
    margin-top: 32px;
}

/* mat-sidenav {
    min-width: 345px;
    max-width: 350px;
} */

.toolbar-spacer {
    flex: 0.3 0.3 auto;
}

.toolbar-header a, .toolbar-links a {
    color: white;
    text-decoration: none;
    margin: 0 1em;
}

a:hover {
    opacity: 0.75;
}

.toolbar-header {
    font-size: 1.5em;
}

.toolbar-spacer-end {
    flex: 0.4 0.4 auto;
}

.mat-sidenav {
    min-width: 10rem;
}

.mat-sidenav a {
    margin: 1em 0;
    color: white;
    text-decoration: none;
    font-size: 1em;
    background-color: none;
}

.mat-icon {
    vertical-align: middle;
}