<div class="content mat-app-background darkMode" autosize>

    <mat-toolbar>
        <button (click)="sidenav.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <h1>{{ title }}</h1>
        <span class="example-spacer"></span>
        <app-search (newProfileEvent)="changingStats.next($event)">
        </app-search>
    </mat-toolbar>

    <mat-sidenav-container class="content mat-app-background darkMode" autosize>

        <mat-sidenav #sidenav class="stat-sidenav" mode="side" [opened]="true">
            <!-- Profiles display -->
            <app-profiles [addingProfiles]="addingProfiles" (setProfileEvent)="changingProfiles.next($event)">
            </app-profiles>
        </mat-sidenav>

        <mat-sidenav-content>
            <!-- Search bar -->
            <!-- <app-search (newProfileEvent)="changingStats.next($event)">
            </app-search> -->
            <!-- Stats display -->
            <app-stats [changingStats]="changingStats" [changingProfiles]="changingProfiles"
                (addProfileEvent)="addingProfiles.next($event); sidenav.open();">
            </app-stats>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>