.character {
    cursor: pointer;
    margin: 1rem 0 2rem 0;
}

.all-characters {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18.75rem;
    height: 3.796875rem;
    background: #212121;
}

.character:hover {
    opacity: 0.65;
}

.character:hover .character-emblem {
    opacity: 0.65;
}

.character-emblem {
    vertical-align: top;
    height: auto;
    width: 300px;
}

.character-info {
    display: flex;
    flex-direction: column;
    color: #FFF;
    padding: 0;
    width: 225px;
    height: auto;
    position: absolute;
    text-align: left;
    margin: 0 0 0 4rem;
}

.character-class-light {
    display: flex;
    justify-content: space-between;
}
strong {
    font-size: 20px;
    color: yellow;
}

small {
    color: gray;
    font-size: 12px;
}

.arrow-right {
    margin: 0 0 0 1rem;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 0;
    border-right: 20px solid gray;
}

@media only screen and (min-width: 551px) {
    .arrow-right {
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid gray;
        border-right: 0;
    }
}