.character {
    cursor: pointer;
    margin: 2rem 0 2rem 0;
}

.all-characters {
    display: flex;
    width: 18.75rem;
    height: 3.796875rem;
    align-items: center;
    justify-content: center;
    background: #212121;
}

.character:hover {
    opacity: 0.65;
}

.character:hover .character-emblem {
    opacity: 0.65;
}

.character-emblem {
    vertical-align: top;
    height: auto;
    max-width: 300px;
    width: auto;
}

.character-info {
    color: #FFF;
    padding: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: left;
    margin: 0 0 0 4.5rem;
}

strong {
    font-size: 20px;
    color: yellow;
    /* float: right; */
    /* margin: 0 2rem 1.5rem 0; */
    margin: 0 0 0 auto;
}

small {
    color: gray;
    font-size: 12px;
    margin: 0 0 0 0;
}

.arrow-right {
    margin: 0 0 0 1rem;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid gray;
}