
<mat-list>
    <mat-list-item (click)="displayCharacter('')" class="character">
        <div class="all-characters">
            All Characters
        </div>
        <div class="arrow-right" *ngIf="currentId == ''"></div>
    </mat-list-item>
    <mat-list-item *ngFor="let character of characters" (click)="displayCharacter(character.characterId)" class="character"> 
        <img [src]="character.emblem" alt="Character Emblem"
            class="character-emblem">
        <div class="character-info">
            <div class="character-class-light">
                {{ character.class }} 

                <div class="character-light">
                    <strong>{{ character.light }}</strong>
                </div>
            </div>
            
             <small>{{ character.race }}</small>
        </div>
        <div class="arrow-right" *ngIf="currentId == character.characterId"></div>
    </mat-list-item>
</mat-list>