<div class="landing-page">
    <div class="landing-page-block" [@inOutAnimation]>
        <div class="landing-page-header">
            <div class="landing-page-header-text">
                Welcome to Arc Buddy!
            </div>
            <button mat-button routerLink="/search">Get Started</button>
        </div>
    </div>
    <div class="landing-page-header-gap"></div>

    <p-carousel [value]="blocks" [autoplayInterval]="5000" [numVisible]="1" [numScroll]="1" [@inOutAnimation]>
        <ng-template let-block pTemplate="item">
            <div class="landing-page-block">
                <div class="landing-page-text">
                    <h1>{{ block.heading }}</h1>
                    <p>
                        {{ block.text }}
                    </p>
                </div>

                <img [src]="block.image" [alt]="block.heading">
            </div>
        </ng-template>
    </p-carousel>

    <!-- <div class="landing-page-block" [@inOutAnimation]>
        <div class="landing-page-text">
            <h1>Track your Destiny 2 stats.</h1>
            <p>
                See a summary of your Destiny 2 stats, along with
                aggregated stats for each of your characters.
            </p>
        </div>

        <img src="assets/StatsLandingPage.png" alt="Track your Destiny 2 stats">
    </div>

    <div class="landing-page-block" [@inOutAnimation]>
        <div class="landing-page-text">
            <h1>See graph summaries.</h1>
            <p>
                Arc Buddy shows you graph summaries for your
                characters' weapon kills, so you can see
                your favored (and least favored) weapons.
            </p>
        </div>

        <img src="assets/GraphLandingPage.png" alt="See graphs of your weapon kills">
    </div>

    <div class="landing-page-block" [@inOutAnimation]>
        <div class="landing-page-text">
            <h1>Watch what in-game vendors are selling.</h1>
            <p>
                Vendors are always refreshing their inventory.
                Arc Buddy shows you the most up-to-date inventory
                so that you'll never miss that item you want most.
            </p>
        </div>

        <img src="assets/VendorsLandingPage.png" alt="See graphs of your weapon kills">
    </div> -->
</div>