.landing-page {
    width: 100%;
    height: 100%;
}

.landing-page-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    justify-content: center;
    align-items: center;
}

.landing-page-header {
    display: flex;
    flex-direction: column;
}

.landing-page-header button {
    align-self: center;
    max-width: 35%;
    background-color: #006565;
}

.landing-page-header-text {
    font-size: 2.5em;
    margin-bottom: 1em;
    line-height: normal;
}

.landing-page-header-gap {
    margin: 5rem 0;
}

.landing-page-block img {
    max-width: 90%;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
}

.landing-page-text {
    max-width: 75%;
    text-align: left;
    word-wrap: break-word;
    margin-right: 2rem;
}

@media only screen and (min-width: 480px) {
    .landing-page-block {
        flex-direction: row;
    }

    .landing-page-block img {
        max-width: 50%;
    }

    .landing-page-text {
        max-width: 37%;
    }
}