.search-form {
    /* min-width: 150px;
    max-width: 500px;
    width: 100%; */
    /* margin: 1.33em 0 1.33em 0; */
    display: inline-block;
    font-size: 16px;
}

/* .search-full-width {
    width: 100%;
} */

mat-form-field {
    width: 100%;
}