<form 
    (ngSubmit)="onSubmit()" 
    class="search-form">
    <mat-form-field 
        class="search-full-width" 
        appearance="fill">
        <mat-label for="text">
            Search Bungie Name...
        </mat-label>
        <input 
            matInput 
            name="text" 
            [(ngModel)]="name" 
            placeholder="e.g. 62firelight#8173" 
            autocomplete="off">
        <button 
            matSuffix 
            mat-button class="search-button">
            <mat-icon [ngStyle]="{'color':'white'}">
                search
            </mat-icon>
        </button>
    </mat-form-field>
</form>
<br>
<mat-error>{{ error }}</mat-error>