<mat-drawer-container class="content mat-app-background darkMode" autosize>

    <h1>{{ title }}</h1>

    <!-- Sidenav -->
    <mat-drawer #drawer class="stat-sidenav" mode="side">
        <h2>Saved Profiles</h2>
        <mat-icon matRipple (click)="ngOnInit()">
            <div class="refresh"> refresh</div>
        </mat-icon>
        <mat-spinner [diameter]="50" *ngIf="fetchingProfiles"></mat-spinner>
        <br>

        <ul>
            <li *ngFor="let profile of profiles" id="buttons"><button mat-raised-button (click)="setProfile(profile)">
                    {{ profile.Key }}
                    <mat-icon matRipple (click)="deleteProfile(profile)">
                        <div class="delete">close</div>
                    </mat-icon>
                </button>
            </li>
        </ul>
    </mat-drawer>

    <!-- View Saved Profiles button that toggles sidenav -->
    <button mat-raised-button type="button" mat-button (click)="drawer.toggle()">
        View Saved Profiles
    </button>
    <br>

    <!-- Search bar -->
    <form (ngSubmit)="onSubmit()" class="search-form">
        <mat-form-field class="search-full-width" appearance="fill">
            <mat-label for="text">Search Bungie Name...</mat-label>
            <input matInput name="text" [(ngModel)]="name" placeholder="e.g. 62firelight#8173" autocomplete="off">
            <button matSuffix mat-button class="search-button">
                <mat-icon [ngStyle]="{'color':'white'}">search</mat-icon>
            </button>
        </mat-form-field>
    </form>
    <br>

    <mat-error>{{ error }}</mat-error>

    <!-- Stats display -->
    <div *ngIf="profile != undefined">
        <h1> {{ profile.displayName }} stats </h1>

        <button mat-raised-button (click)="addProfile(profile)">Save</button>

        <mat-spinner [diameter]="50" *ngIf="fetchingStats"></mat-spinner>

        <div class="grid">
            <mat-card class="stat-card" *ngFor="let stat of profile.characterStats | keyvalue">
                <mat-card-title>
                    <b>{{ stat.key }}</b>
                </mat-card-title>
                <mat-card-content>
                    {{ stat.value }}
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</mat-drawer-container>