<form (ngSubmit)="onSubmit()" class="search-form">
    <mat-form-field class="search-full-width" appearance="fill">
        <mat-label for="text">Search Bungie Name...</mat-label>
        <input matInput name="text" [(ngModel)]="name" placeholder="62firelight#8173">
        <button matSuffix mat-button class="search-button">
            <mat-icon [ngStyle]="{'color':'white'}">search</mat-icon>
        </button>
    </mat-form-field>
</form>
<br>

<mat-error>{{ error }}</mat-error>

<!-- <button mat-raised-button class="profile-card" *ngIf="profile != undefined" (click)="toggleStats()">
    <img [src]="profile.iconPath">
    {{ profile.displayName }}
</button> -->

<app-stats *ngIf="statsVisibility && profile != undefined" [profile]="profile"></app-stats>

<app-saved-stats></app-saved-stats>