/* * {
    display: block;
    margin: auto;
    position: absolute;
    padding: 0px;
    margin: 0px;
    width: 100%;
    min-height: 100%;
    background-color: #12171C; 
}

p, h1 {
    color: white;
    font-size: 48px;
    text-align: center;
    margin: auto;
    margin-top: 32px;
    font-family: Arial, sans-serif;
} */

.search-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    display: inline-block;
}

.search-full-width {
    width: 100%;
}

html, body, .darkMode {
    position: fixed;
    height: 100vh;
    width: 100vw;
    text-align: center;
    font-family: Arial, sans-serif;
}

button {
    background: none;
    border: none;
    margin: 20px;
}

button:hover {
    cursor: pointer;
}

.search-button {
    width: 2px;
}

img {
    width: 35px;
    height: 35px;
    margin-right: 8px;
}

mat-icon {
    cursor: pointer;
}

mat-icon, .delete {
    color: red;
    padding: 4px;
}

mat-icon, .refresh {
    color: white;
    align-items: center;
}

mat-spinner {
    margin: auto;
    margin-top: 32px;
}

.search-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    display: inline-block;
}

.search-full-width {
    width: 100%;
}

html, body, .darkMode {
    position: fixed;
    height: 100vh;
    width: 100vw;
    text-align: center;
    font-family: Arial, sans-serif;
    overflow: scroll;
}

button {
    background: none;
    border: none;
}

button:hover {
    cursor: pointer;
}

.search-button {
    width: 2px;
}

img {
    width: 35px;
    height: 35px;
    margin-right: 8px;
}

.stat-sidenav {
    padding: 20px;
    text-align: top;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.grid {
    margin: 10px;
    display: grid;
    justify-content: stretch;
}

@media (min-width: 300px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1000px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1400px) {
    .grid {
        grid-template-columns: repeat(6, 1fr);
    }
}

.stat-card {
    max-width: 275px;
    min-height: 200px;
    align-self: start;
    margin: 10px 10px 10px 10px;
}

.row {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    /* float: left; */
}

.left {
    flex: 15%;
    /* width: 25%; */
}

.right {
    flex: 85%;
    /* width: 75%; */
}

.mat-card-content {
    font-size: 36px;
    font-weight: 1;
    text-align: center;
}

mat-spinner {
    margin: auto;
    margin-top: 32px;
}

.profile-card {
    cursor: pointer;
    max-width: 150px;
    padding: 0px;
    margin: 16px;
}

.saved {
    color: green;
}