.mat-grid-list {
    margin: 16px;
}

.mat-grid-tile-header {
    font-size: 18px;
    font-weight: 1;
    text-align: center;
    justify-content: center;
    background-color: none;
}

.mat-card-subtitle {
    font-size: 1.125em;
    margin: 0 0 0 0;
}