<mat-card class="stat-card" *ngIf="isVisible">
    <mat-card-title-group>
        <mat-card-title align="center">
            <strong>{{ sectionName }}</strong>
        </mat-card-title>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>
                more_vert
            </mat-icon>
        </button>
    </mat-card-title-group>

    <mat-grid-list cols="7" rowHeight="9em" gutterSize="0" *ngIf="showAsChart == false">
        <mat-grid-tile *ngFor="let stat of stats | keyvalue: helper.numberedKeyOrder">
            <app-stat [statName]="stat.key" [statValue]="stat.value | destinyStat">
            </app-stat>
        </mat-grid-tile>
    </mat-grid-list>

    <div *ngIf="showAsChart == true">
        <div>
            <div>
                <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="barChartType">
                </canvas>
            </div>
        </div>
    </div>
</mat-card>

<mat-menu #menu="matMenu">
    <button mat-menu-item [cdkCopyToClipboard]="getSection()">
        Copy as JSON
    </button>
    <button mat-menu-item *ngIf="chartableSections.has(sectionName) == true"
        (click)="showAsChart == false ? convertToChart() : convertToDefault()">
        <!-- <mat-icon>{{ showAsChart == false ? "bar_graph" : "article" }}</mat-icon> -->
        Show as {{ showAsChart == false ? "chart" : "text" }}
    </button>
</mat-menu>