/* You can add global styles to this file, and also import other style files */

html, body {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-content {
    padding-top: 2rem;
    margin: auto;
    padding-bottom: 4rem;
}

mat-spinner {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

@media only screen and (min-width: 480px) {
    .main-content {
        max-width: 1280px;
    }
}

.darkMode .mat-chip.mat-standard-chip {
    background-color: #212121;
}

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
    padding: 0;
}