/* You can add global styles to this file, and also import other style files */

html, body {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-content {
    padding-top: 2rem;
    max-width: 1280px;
    margin: auto;
    padding-bottom: 4rem;
}

mat-spinner {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}