* {
    display: block;
    margin: auto;
    position: absolute;
    padding: 0px;
    margin: 0px;
    width: 100%;
    min-height: 100%;
    background-color: #12171C;
}

p, h1 {
    color: white;
    font-size: 48px;
    text-align: center;
    margin: auto;
    margin-top: 32px;
    font-family: Arial,sans-serif;
}