<div class="content mat-app-background darkMode">
  <h1>{{ title }}</h1>

  <form (ngSubmit)="onSubmit()" class="search-form">
    <mat-form-field class="search-full-width" appearance="fill">
      <mat-label for="text">Search Bungie Name...</mat-label>
      <input matInput name="text" [(ngModel)]="name" placeholder="62firelight#8173">
      <button matSuffix mat-button><mat-icon [ngStyle]="{'color':'white'}">search</mat-icon></button>
    </mat-form-field>
  </form>
  <br>
  
  <mat-error>{{ error }}</mat-error>

  <mat-card class="profile-card" *ngIf="profile != undefined">
    <img [src]="profile.iconPath">
    {{ profile.displayName }}
  </mat-card>
</div>